.depositContainerBody {
  width: 100%;
  height: fit-content;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


.depositContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 10px;
  height: fit-content;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  border-radius: 20px;

}


.depositFormContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  height: 100%;
  border-radius: 20px;
  margin: 0 auto;

}

.depositCard {
  display: flex;
  flex: 1;
  padding: 20px;
  flex-direction: column;
}


.depositFormInput {
  background: #00663331;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 0%;
  background-color: transparent;
  border-bottom: 2px solid #006633;
  color: black;
  font-size: 16px;
  flex: 1;
  margin-bottom: 10px;
}


.depositSubmitButton {
  background: linear-gradient(135deg, #0b572f, #006633, #1fa85e);
  padding: 15px 50px;
  font-size: 15px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: white;
  border-radius: 5px;
  border: none;
  width: fit-content;
  cursor: pointer;
  width: 100%;

}

.depositSubmitButton:hover {
  scale: 1.05 0.3s ease;
  transition: all 0.3s ease-in-out;
}

.depositImgContainer {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

}

.depositImg {
  width: 100%;
  border-radius: 20px;

}

@media screen and (max-width: 1340px) {
  .depositContainerBody {
    /* margin-right: 20px; */
    width: 90%;

  }

  .depositFormContainer {
    padding: 0px;
    border-radius: 20px;
  }
}

@media (max-width: 800px) {
  .depositContainerBody {
    width: 90%;
    height: fit-content;
    overflow: hidden;

  }

  .depositContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: none;

  }

  .deposit-Subb {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    overflow: hidden;
  }


  .depositImgContainer {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

  }

}