.add-container {
    max-width: 80%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.sub-container {
    background: #dedede;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: transparent;
}

.header {
    margin-bottom: 40px;
}

.h1 {
    font-family: Arial, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #006633;
    padding: 20px 0px;
}

.createDetail {
    width: 300px;
    border-radius: 10px;
    height: fit-content;
    padding: 20px;
}

.imageContainer {
    border-radius: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.imageError {
    color: red;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    background: white;
    flex: 1;
    padding: 20px 50px;
}

.msg {
    font-size: 12px;
    font-weight: 900;
    font-family: Arial, sans-serif;
    margin: 0%;
    color: #000;
}

.line {
    max-width: 100%;
    height: 5px;
    border-radius: 20px;
    background: #006633;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 50px;
    border-bottom: rgb(199, 196, 196) 0.1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;

}

.section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label {
    font-size: 15px;
    font-weight: 600px;
    font-family: Arial, sans-serif;
    margin: 0%;
    color: #333;
    white-space: nowrap;
}

.custom-button {
    /* width: fit-content;  */
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
    /* rounded-full */
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    /* shadow-md */
    color: white;
    /* text-white */
    background-color: #006633;
    /* bg-blue-500 */
    text-transform: uppercase;
    /* uppercase */
    display: flex;
    /* For centering */
    align-items: center;
    /* self-center */
    justify-content: center;
    /* object-center */
    transition: opacity 0.2s ease;
    /* Transition for hover and active effects */
}

/* Hover and active states */
.custom-button:hover {
    opacity: 0.9;
    /* hover:opacity-90 */
}

.custom-button:active {
    opacity: 0.5;
    /* active:opacity-[50%] */
}

.addImg {
    width: 60%;
    height: 50px;
    border: dashed 1px #006633;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    background: #00663309;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.plus {
    background: #006633;
    color: white;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 100%;
    cursor: pointer;
}

.address {
    display: flex;
    width: 62%;
    gap: 10px;
}

.addressL {
    display: flex;
    flex: 1;
    padding: 10px;
}

.input {
    width: 60%;
    height: 25px;
    border: rgb(199, 196, 196) 0.1px solid;
    border-radius: 5px;
    padding: 10px;
}

.textarea {
    border: rgb(199, 196, 196) 0.1px solid;
    border-radius: 5px;
    padding: 10px;
}

.boxContainer {
    display: flex;
    gap: 20px;

}

.eachBox {
    display: flex;
    gap: 5px;
    align-items: center;
}

.box {
    width: 20px;
}

.boxb {
    width: 50px;
}

.submitContainer {
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: center;

}

.button {
    background: #006633;
    padding: 10px 50px;
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    color: white;
    border-radius: 5px;
    border: none;
    width: fit-content;
    cursor: pointer;
    height: fit-content;
}

.cancel {
    font-size: 15px;
    font-weight: 400;
    font-family: Arial, sans-serif;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.propertyImg {
    position: relative;
}

.deleteImg {
    position: absolute;
    left: 5px;
    top: 5px;
    background: rgba(255, 0, 0, 0.391);
    padding: 2px 5px;

}

.success {
    display: flex;
    justify-content: space-between;
    flex: 1;
    background: #00663343;
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.error {
    display: flex;
    justify-content: space-between;
    flex: 1;
    background: #f8160143;
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    font-family: Arial, sans-serif;
}

.redirect {
    font-size: 12px;
    font-weight: bold;
}

@media (max-width: 769px) {
    .createDetail {
        width: 93%;
        height: fit-content;
        padding: 10px;

    }

    .imageContainer {

        display: flex;
        justify-content: space-between;
        overflow: hidden;
        background: #000;
        gap: 2px;
    }

    .container {
        display: flex;
        flex-direction: column;
        max-width: 100%;

    }

    .addImg {
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: start;
        width: 80%;
        height: fit-content;
        gap: 20px;
    }

    .form {
        padding: 10px;

    }

    .address {
        width: 80%;
        gap: 10px;
    }

    .input {
        width: 80%;
    }

    .boxContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .user-info-container {
        height: 80px;
        justify-content: space-between;
    }

    .img {
        width: 100%;
        height: 100px;
        object-fit: cover;
    }
}

@media (max-width: 1000px) {
    .container {
        display: flex;
        flex-direction: column;
        max-width: 100%;

    }

    .createDetail {
        width: 98%;
        height: fit-content;
        padding: 10px;

    }

    .imageContainer {
        display: flex;
        flex-direction: row;
        gap: 2px;
    }
}