.bottom {
  margin-bottom: 120px;
}





.pc-footer {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: block;
  position: absolute;
  left: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  right: 0;
}

.mob-footer {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

@media (max-width: 767px) {
  .pc-footer {
    display: none;
  }
}

@media (min-width: 767px) {
  .mob-footer {
    display: none;
  }
}