.walletSubContainer {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
}




.walletBalance {
  background: linear-gradient(135deg, #0b572f,#006633, #1fa85e);
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: -1;
  div{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.walletDigit {
  font-size: 42px;
  font-weight: bolder;
  color: white;
  margin: 0%;
  font-family: Arial, sans-serif;
  margin: 0;
}

.walletTitle{
  font-size: 18px;
  font-weight: bolder;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  span{
  color: #d4f36b;
  border: 2px solid #d4f36b;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.walletCategory {
  font-size: 16px;
  font-weight: thin;
  color: #d4f36b;
  font-family: Arial, sans-serif;
  margin: 0;
display: flex;
align-items: center;
gap: 10px;
}

.walletDetail {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: white;
  color: black;
  border-radius: 50%;
  padding: 20px;
}

@media (max-width: 796px) {

  .walletDigit {
    font-size: 16px;
      }
  .walletBalance {
    width: 90%;

  }
}
